@font-face {
    font-family: 'MiFuente';
    src: url('../Recursosopt/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100vh;
}

.sticky{
    position: sticky;
    top: 0; /* Fija el header en la parte superior */
    width: 100%;
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */

}
header{
    width: 100%;
    height: 3.75rem;
    background-color: #2C0F93;
    display: flex;
    align-items: center;
    justify-content: center;


    
   


}
.img_headr{
    width: 15%;
    height: 100%;
}

.img_headr img{
    object-fit: cover; /* imagen se acopla al tamano del div*/
    width: 60%;
    height: 100%;
   
}

.contact_header{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: right;
    
    align-items: central;
    
}
.email{
    display: flex;
    width: 6.875rem;
   height: 3.75;
   align-items: center;
}
.email img{
   margin-right: 0.3rem;
}
.email a {
    color: #ffffff;
  flex-shrink: 0;
  font-family: Montserrat, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 700;
  
  
  
    display: flex;
    text-decoration: none;
    color:floralwhite;
}
.contact {
    display: flex;
    width: 7rem;
   height: 3.75rem;
   align-items: center;
}
.contact img{
    margin-left: 66px;
    
}
.contact a{
    color: #ffffff;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 700;
    
    background-color: #5FD568;
    padding: 5px;
    border-radius: 5%;
    
    
      display: flex;
      text-decoration: none;
      color:floralwhite;

}
    
    
    


.nav{
    background-color: #ffffff;
    width: 100%;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
.navegador{
    color: #000000;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.1rem;
    font-weight:500;
}
.title{
    width: 65%;
    color: #000000;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 600;
    

}
.title h1{
    
    color: #000000;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 4rem;
    
}
.navegador{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navegador a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0 1.6rem;

}





/*inicia seccion1*/
.container_section1{
    
    width: 100%;
    height: 50.5rem;
    background-image: url(../Recursosopt/courier-doing-jobs-logistics.webp);
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;
    


    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 12.5rem;

}
.articulo1_cover{
    width: 100%;
    height: 50.5rem;

    background-color: rgba(0, 0, 255, .3);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.articule_s1{
    width: 80%;
    height: 10.625rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-start;

}

.title_s1{
    font-size: 4.5rem; 
    color: #f2f2f2;
    font-family: "MiFuente", sans-serif;
    
    
    font-weight: 400;
    line-height: 1.2;

}
.title2_s1{
    font-size: 4.5rem; 
    color: #F2D541;
    font-family: "MiFuente", sans-serif;
    
    
    font-weight: 400;
    line-height: 1.2;

}
.texto_s1{
    color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  font-size: 15px;
}

.articule_s1 a{
    text-decoration: none;
    color: #f2f2f2;
    background-color: #F2D541;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.25rem;
    width: 20%;
    padding: 0.625rem;
    border-radius: 5%;
    text-align: center;  
   
    font-weight: bold;
}

.container_section2 {
    display: flex;
    width: 100%;
    height: 35.625rem;
    background-image: url(../Recursosopt/2148970523.webp);
    background-position: center center;
    background-size: cover;
    margin-bottom: 7.875rem;

    
    align-items: center;
    justify-content: center;

    
}

.card_s2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 600px;
    height: 110%;
    background-color: #2C0F93;
    
     
    margin-left:45%


}  

.card_s2 p {
    color: #f2f2f2;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 15px;
    font-weight: 400;
    height: 29.1rem;
    
    line-height: 1.4900000254;

    display: flex;
   text-align: center;
    text-align: justify;
    padding: 10px;
    
    
}

.card_s2 h2{
   display: flex;
    font-size: 32px; 
    color: #f2f2f2;
    font-family: "Bebas Neue", sans-serif;
    
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px;
}
.articule_s3{
    display:flex ;
    width: 100%;
    height: 485px; ;
    
    justify-content: space-between;
    align-items: center;
   



}

.beneficios_1{
   
  width: 400px;
   height: 300px; 
   background-color:#D9D9D9 ;
   margin: 0 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   

}
.beneficios_1 h3{
    text-align: center;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2175;
    padding-bottom: 10%;
    
}
.beneficios_2{
    
    width: 400px;
    height: 300px; 
    background-color:#D9D9D9 ;
    margin: 0 100px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
 }
 .beneficios_2 h3{
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2175;
    padding-bottom: 10%;
 }
 .beneficios_3{
     
    width: 400px;
    height: 300px; 
    background-color:#D9D9D9 ;
    margin: 0 100px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .beneficios_3 h3{
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2175;

    padding-bottom: 10%;

  
 }
 .container_section4{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 100%;
    height:58 ;


 }
 .contanier_s4_title{
    font-size: 3rem; 
    color: #737373;
    font-family: "MiFuente", sans-serif;
    
    margin: 1.25rem;;
    font-weight: 400;
    line-height: 1.2;
 }

 .inside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F6E27A;
    width: 100%;
    height: 30.75rem;
    margin-bottom: 200px;
}

.articule_s4_1{
    background-image: url(../Recursosopt/nastya-dulhiier-z6aShqJg0rI-unsplash.webp);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    width: 26rem; ;
    height: 25rem;
}
.articule_s4_cover_1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 255, .3);
    

}

.articule_s4_2{
    background-image: url(../Recursosopt/nastya-dulhiier-z6aShqJg0rI-unsplash.webp);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
 
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 26rem; ;
    height: 25rem;
}

.articule_s4_cover_2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 255, .3);
    

}

.articule_s4_2 h3 {
   
position: absolute;
top: 10%;

font-size: 2.25rem; 
    color: #F2D541;
    font-family: "MiFuente", sans-serif;
    
    
    font-weight: 400;
    line-height: 1.2;
}

.articule_s4_2 h4{
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2175;
    
}

.articule_s4_1 h3 {
   
    position: absolute;
    top: 10%;
    
    font-size: 2.25rem; 
        color: #F2D541;
        font-family: "MiFuente", sans-serif;
        
        
        font-weight: 400;
        line-height: 1.2;
    }
    
.articule_s4_1 h4{
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2175;
        
    }
.footer{
    width: 100%;
    height: 200px;
   
    background-color: #2C0F93;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    
}
.contact_footer{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    margin-right: 58rem;

  
}
.contactfooter{
    color: #ffffff;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2175;
    margin-right: 48rem;
    margin-top: 2rem;
    white-space: nowrap;
    margin-bottom: 2rem;

    width: 20%;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;

   
}
.footer h3{
    color: #ffffff;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 600;

}
.contact_footer a{
    color: #ffffff;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 700;
    
    background-color: #5FD568;
    padding: 5px;
    border-radius: 5%;
    
    
      display: flex;
      text-decoration: none;
      color:floralwhite;

}

    /*
.articule_s4_2 h4 {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/



